/** Add css rules here for your application. */


h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.gwt-DateBox{
    border: 2px inset #EBE9ED;
}

.buttons{
    border: none;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    background-color: #5c95f7;
    color: #FFFFFF;
    margin: 5px;
}

.deleteBtn{
//background-color: #63b0f7;
}

.addBtn{
    width:200px;
}
.addBtn span {
    position: relative;
    transition: 0.5s;
}
.addBtn:hover span {
    padding-right: 25px;
}
.addBtn span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}
.addBtn:hover span:after {
    opacity: 1;
    right: 0;
}
.buttons:hover{
    background-color: #5666c2;
}

.buttons:disabled{
    opacity:0.5;
    pointer-events: none;
}
.submitBtn{
    margin:initial;
    margin-top:5px;
    margin-left:10px;
}

.cell{
    font: 16px arial, sans-serif;
    font-size: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.simple-input {
    margin-left:10px;
    display: block;
    padding: 5px;
    border: 2px solid #63b0f7;
    border-radius: 4px;
    font-size: 16px;
    color: grey;
    transition: all 0.3s ease-out;
}

.simple-input:focus {
    outline: none;
    border-color: #5083b8;
}

.labels {
    margin-left:10px;
    padding-top: 5px;
    padding-bottom:3px;
    font-size:20px;
}